@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');

@import './header.css';
@import './sec1.css';
@import './sec2.css';

:root {
    --background: #020F1B;
    --azul1: #153e62;
    --azul2: #0b2545;
    --azul3: #002a50;
    --azul4: #005a8d;
    --azul5: #147290;
    --azul6: #4ed4e1;
    --azul7: #dffbfe;
    --cinza: #e5eaf0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--cinza);
}

html, body{
    height: 100%;
    background-color: var(--background);
}

main{
    padding-top: 2rem;
    display: grid;
    grid-template-areas: "sec1 sec2";
}

section{
    display: flex;
    flex-direction: column;
}

.destaque{
    color: var(--azul6);
}