#sec1{
    grid-area: 'sec1';
    width: 50vw;
    padding-left: .5rem;

    gap: .5rem;
    align-items: center;

}

h1{
    padding-bottom: 1rem;
    font-size: 5.5vw;
    font-weight: 300;
    align-self: flex-start;
}

#sobre, #sec1 p{
    padding-bottom: 1rem;
    font-size: 2vw;
    align-self: flex-start;
}

#ferramentas{
    display: flex;
    gap: 1rem;

}

.skill-icon{
    width: max(35px, 5vw);
    height: 3.5rem;
}